<form class="" action="details.erb" method="post">
  Name of order<input type="text" name="order_name" />
  Name of Orderer<input type="text" name="orderer_name" />
  Quantity<input type="text" name="quantity" />
  Time<input type="text" name="time" />
  Name of order<input type="submit" name="makeorder" value="Submit"/>
</form>
